.link {
    text-decoration: none;

}

.link:hover {
    color: #c9f;
    font-size: 18px;
}

.active {
    color: red;
}

.header {
    display: flex;
    width: 280px;
    justify-content: space-around;
    transition-duration: 500ms;
    transform: translate(-220px);
    border: 1px solid black;
}

.header:hover {
    transition-duration: 500ms;
    transform: translate(0);
}

.div {
    width: 30px;
    height: 30px;
    background-color: forestgreen;

}