.link {
    text-decoration: none;
    color: #7a7;
    margin: 10px;
}
.link:hover {
    color: #c9f;
}
.active{
    width: 21px;
    height: 21px;
    margin: 10px;
    background: #99ff99;
}
.header {
    display: flex;
    width: 280px;
    transition-duration: 500ms;
    transform: translate(-220px);
}
.header:hover {
    transition-duration: 500ms;
    transform: translate(0);
}